html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: tahoma, verdana, arial;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

#container {
    height: 100%;
    width: 100%;
}

.loading {
    font-weight: bold;
    margin: 0 auto;
    padding: 10em 0;
    text-align: center;
    width: 20%;
}

.tooltip {
    font-size: 16px;
}

.tooltip .label {
    font-weight: bold;
}

.tooltip .label a {
    text-decoration: none;
}

.tooltip .logo {
    margin-top: 1em;
    width: 100%;
}
